{% extends 'blog/base.html' %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">title</span>
  <input type="text" class="form-control" placeholder="{{ post.title }}" aria-describedby="basic-addon1">
</div>

        <textarea name="text" id="" cols="100" rows="30">{{ post.text }}</textarea>

        <button type="submit" class="btn btn-primary btn-block">수정</button>

    </form>
{% endblock %}