{% extends 'blog/base.html' %}

{% block content %}
<a href="{% url 'post_create' %}" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Post</a>
<div class="post-list">
    {% for post in posts %}
    <div class="post">
        <h4><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
        <p class="text-right"><small>published: {{ post.published_date }}</small></p>

        <p>{{ post.text|truncatechars:120 }} </p>
    </div>
    {% endfor %}
</div>
{% endblock %}
